<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your entries</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:wght@400;600;700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Entries from {{current_user.first_name}} {{current_user.last_name}}:</h1>
        <nav>
            <a href="/logout">Logout</a>
            <a href="/landing">Back to Journal Entry</a>
        </nav>
        <h2>Click an entry to view, edit, or delete</h2>
        <div id="entries">
            {% for entry in current_user_entries %}
            {% if entry.title %}
            <p><a href="/view_entry/{{entry.id}}">{{entry.title}} from {{entry.created_at}}</a></p>
            {% else %}
            <p><a href="/view_entry/{{entry.id}}">{{entry.created_at}}</a></p>
            {% endif %}
            {% endfor %}
        </div>
        {% include 'pagination.html' with page=current_user_entries %}
    </main>
</body>
</html>